body {
  position: relative;
  background-color: black;
  color: rgb(255, 255, 255);
  padding: 0 50px;
}
header {
  position: relative;
}
nav {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
  gap: 46px;
}
nav ul a {
  color: white;
}
nav h1 {
  font-size: 24px;
}
.tg {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 450;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  color: rgb(191, 231, 44);
}
.tg::before {
  content: url("../images/tg.svg");
  height: 21px;
  margin-right: 22px;
}

.header-window {
  position: relative;
  color: rgb(128, 128, 128);
  font-size: 321px;
  font-weight: 700;
  line-height: 120%;
  text-align: left;
  text-transform: uppercase;
  user-select: none;
}
.header-img__container {
  position: absolute;
  bottom: 0;
  min-width: 542px;
  max-height: 750px;
  display: flex;
  flex-direction: column;
  gap: 13px;
  transition: 1.25s cubic-bezier(0.19, 1, 0.22, 1);
  cursor: pointer;
}
video {
  max-height: 750px;
  object-fit: cover;
  border-radius: 10px;
}

.main__container {
  height: 7500px;
}
